<nav>
    <ul>
        <% data.forEach(element=> { %>
            <li>
                <a href="<%=element.url %>">
                    <%= element.name %>
                </a>
            </li>
            <% }) %>
    </ul>
</nav>