* {
    margin: 0;
    padding: 0;
}
nav {
    background: #333;
    height: 8vh;
}
ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 2.5vh;
}
li {
    font-size: 1.7em;
    padding-left: 0;
}
a { 
    color: #fff;
    text-decoration: none;
}
section {
    margin: 5vh 0;
}
figure {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
}
img {
    width: 100%;
}

